@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'title';
    src: url('./font/title.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
  color: white;
}
