@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'KaushanScript';
    src: url('./font/KaushanScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Dovemayo';
    src: url('./font/Dovemayo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
  color: white;
}
